doctype html
html
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="x-apple-disable-message-reformatting")
      title= subject
      link(rel="stylesheet", href="style.css", data-inline)
  body
    h1 Hi #{name},
    |
    p Click on this happy link:
    <img src="../emails/images/happyface.png" alt="Happy Face" width="50px" height="50px"/>
    a(href='http://localhost:3000/preview/' + id) Happy
    |
    p Or this sad link...
    <img src="../emails/images/sadface.png" alt="Sad Face" width="50px" height="50px"/>
    a(href='http://localhost:3000/nreview/' + id) Sad    
