<div class="wrapper">
    <div class="sidebar" data-background-color="black" data-active-color="danger">

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" class="simple-text">
                    Company Name
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="/dashboard">
                        <i class="ti-panel"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="/fetch">
                        <i class="ti-email"></i>
                        <p>Fetch Reviews</p>
                    </a>
                </li>
                <li>
                    <a href="/templates">
                        <i class="ti-layout"></i>
                        <p>Manage Templates</p>
                    </a>
                </li>
                <li  class="active">
                    <a href="#">
                        <i class="ti-view-list-alt"></i>
                        <p>Client List</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ti-book"></i>
                        <p>Contact List</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ti-write"></i>
                        <p>Import Contacts</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <p class="navbar-brand">Client List</p>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-star"></i>
								<p>Fetch Reviews</p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="ti-bell"></i>
                                    <p class="notification">5</p>
									<p>Notifications</p>
									<b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                              </ul>
                        </li>
						<li>
                            <a href="#">
								<i class="ti-settings"></i>
								<p>Settings</p>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <!-- Button Row -->
                <div class="row">
                    <div class="col-md-12" style="margin-bottom: 2rem;">
                        <button class="btn btn-primary btn-lg btn-fill" data-toggle="modal" data-target="#newClientModal">Add New Client</button>
                    </div>
                </div>
                <!-- END Button Row -->
                <!-- Table Row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Clients</h4>
                                <p class="category">Full list of your clients</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-striped">
                                    <thead>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Gender</th>
                                        <th>Phone</th>
                                    </thead>
                                    <tbody>
                                        {{#each clients}}
                                            <tr>
                                                <td>{{this.name}}</td>
                                                <td>{{this.email}}</td>
                                                <td>{{this.gender}}</td>
                                                <td>{{this.phone}}</td>
                                            </tr>
                                        {{/each}}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- END Table Row -->
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="/">
                                Review Fetch
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Blog
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Licenses
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright pull-right">
                    Copyright &copy; <script>document.write(new Date().getFullYear())</script> Review Fetch</a>
                </div>
            </div>
        </footer>

    </div>
</div>

<!-- New Client Modal -->
<div class="modal fade" id="newClientModal" tabindex="-1" role="dialog" aria-labelledby="newClientModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="newClientModalLabel">New Client</h4>
      </div>
      <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Company</label>
                        <input id="new-client-company" type="text" class="form-control border-input" placeholder="Company">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Contact List</label>
                        <input id="new-client-contactlist" type="text" class="form-control border-input" placeholder="Contact List">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                     <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input id="new-client-email" type="email" class="form-control border-input" placeholder="Email">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>First Name</label>
                        <input id="new-client-firstname" type="text" class="form-control border-input" placeholder="First Name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Last Name</label>
                        <input id="new-client-lastname" type="text" class="form-control border-input" placeholder="Last Name">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Gender</label>
                        <select id="new-client-gender" class="form-control border-input">
                          <option value="male">Male</option>
                          <option value="female">Female</option>
                          <option value="none">No Answer</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Phone</label>
                        <input id="new-client-phone" type="text" class="form-control border-input" placeholder="(xxx)-xxx-xxxx">
                    </div>
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="left-side">
            <button id="new-client-addbtn" type="button" class="btn btn-default btn-simple" data-dismiss="modal">Add Client</button>
        </div>
        <div class="divider"></div>
        <div class="right-side">
            <button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Never mind</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END New Client Modal -->

<!-- Client page methods -->
<script src="assets/js/client-functions.js"></script>