       <link rel="stylesheet" type="text/css" href="assets/css/landing.css">
       <link rel="stylesheet" type="text/css" href="assets/css/register.css">
    <nav class="navbar navbar-ct-transparent navbar-fixed-top" role="navigation" id="register-navbar">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://damp-fjord-98999.herokuapp.com/">Review Fetch</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navigation-2">
          <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#" class="btn btn-simple">About</a>
            </li>
            <li>
                <a href="/" class="btn btn-simple">Register</a>
            </li>
           </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-->
    </nav> 
    
    <div class="wrapper">
        <div class="register-background"> 
            <div class="filter-black"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 ">
                            <div class="register-card animated flipInY">
                                <h3 class="title">Welcome back!</h3>
                                <form class="login-form">
                                    <label>Email</label>
                                    <input type="text" id="email-input" class="form-control" placeholder="Email">

                                    <label>Password</label>
                                    <input type="password" id="password-input" class="form-control" placeholder="Password">
                                    <button class="btn btn-danger btn-block">Login</button>
                                </form>
                                <div class="forgot">
                                    <a href="#" class="btn btn-simple btn-danger">Forgot password?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>     
        </div>
    </div>      

<!-- Login page js -->
<script src="assets/js/login.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>