       <link rel="stylesheet" type="text/css" href="assets/css/landing.css">
       <link rel="stylesheet" type="text/css" href="assets/css/register.css">

<div class="full-screen register">
    <nav class="navbar navbar-ct-transparent navbar-fixed-top" role="navigation" id="register-navbar">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://damp-fjord-98999.herokuapp.com/">Review Fetch</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navigation-2">
          <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/about" class="btn btn-simple">About</a>
            </li>
            <li>
                <a href="/login" class="btn btn-simple">Login</a>
            </li>
           </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-->
    </nav>

    <div class="wrapper">
        <div class="background" style="background-image: url('/assets/img/city.jpg');">
            <div class="filter-black"></div>
            <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-1 col-sm-7 col-xs-12">
                            <div class="info info-horizontal">
                                <div class="icon">
                                    <i class="fa fa-umbrella"></i>
                                </div>
                                <div class="description">
                                    <h3> We've got you covered </h3>
                                    <p>Import your contacts, or add as you go. Powerful feedback collections with data analytics. Everything you need in a single campaign.</p>
                                </div>
                            </div>
                            <div class="info info-horizontal">
                                <div class="icon icon-primary">
                                    <i class="fa fa-map-signs"></i>
                                </div>
                                <div class="description">
                                    <h3> Clear Directions </h3>
                                    <p>Efficiently unleash information with custom templated email creation and email previewing. Quickly maximize timely deliverables.</p>
                                </div>
                            </div>
                            <div class="info info-horizontal">
                                <div class="icon icon-info">
                                    <i class="fa fa-user-secret"></i>
                                </div>
                                <div class="description">
                                    <h3> We value your privacy </h3>
                                    <p>Your information is protected under the <b>Iron Fist</b> of Tucson Shenanigans.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-5 col-xs-12">
                            <div class="card">
                                <h3 class="title text-center">Register</h3>

                                <div class="division">
                                    <div class="line l"></div>
                                    <span><i class="ti-angle-double-down"></i></span>
                                    <div class="line r"></div>
                                </div>
                                <form class="register-form">
                                    <input type="text" id="username-input" class="form-control" placeholder="Username">
                                    <input type="text" id="email-input" class="form-control" placeholder="Email">
                                    <input type="password" id="password-input" class="form-control" placeholder="Password">
                                    <input type="text" id="company-input" class="form-control" placeholder="Company Name">

                                    <button class="btn btn-fill btn-block">Register</button>
                                </form>
                                <div class="login">
                                    <p>Already have an account? <a href="#">Log in</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<!-- Register page js -->
<script src="assets/js/register.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>