<div class="wrapper">
   <div class="sidebar" data-background-color="black" data-active-color="danger">
      <div class="sidebar-wrapper">
         <div class="logo">
            <a href="/dashboard" class="simple-text company-logo-text">
            </a>
         </div>
         <ul class="nav">
            <li>
               <a href="/dashboard">
                  <i class="ti-panel"></i>
                  <p>Dashboard</p>
               </a>
            </li>
            <li>
               <a href="/fetch">
                  <i class="ti-email"></i>
                  <p>Fetch Reviews</p>
               </a>
            </li>
            <li>
               <a href="/templates">
                  <i class="ti-layout"></i>
                  <p>Manage Templates</p>
               </a>
            </li>
            <li>
               <a href="/contacts">
                  <i class="ti-view-list-alt"></i>
                  <p>Contact List</p>
               </a>
            </li>
            <li>
               <a href="/import">
                  <i class="ti-write"></i>
                  <p>Import Contacts</p>
               </a>
            </li>
         </ul>
      </div>
   </div>
   <div class="main-panel">
      <nav class="navbar navbar-default">
         <div class="container-fluid">
            <div class="navbar-header">
               <p class="navbar-brand">Profile</p>
            </div>
            <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                  <li>
                     <a href="/fetch">
                        <i class="ti-star"></i>
                        <p>Fetch Reviews</p>
                     </a>
                  </li>
                  <li>
                     <a href="/settings">
                        <i class="ti-settings"></i>
                        <p>Profile</p>
                     </a>
                  </li>
                  <li>
                     <a href="/logout">
                        <i class="ti-power-off"></i>
                        <p>Logout</p>
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
      <div class="content">
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-4 col-md-5">
                  <div class="card card-user">
                     <div class="image">
                        <img src="http://via.placeholder.com/350x150" alt="..."/>
                     </div>
                     <div class="content">
                        <div class="author">
                           <img class="avatar border-white" src="http://i.pravatar.cc/200" alt="Company Image"/>
                           <h4 class="company-name title">Company Name<br />
                              <a href="#"><small>@company</small></a>
                           </h4>
                        </div>
                        <p class="description text-center company-about">
                           "This is my company motto."
                        </p>
                     </div>
                     <hr>
                     <div class="text-center">
                        <div class="row">
                           <div class="col-md-3 col-md-offset-1">
                              <h5><span  id="numOf-templates">12</span><br /><small>Templates</small></h5>
                           </div>
                           <div class="col-md-4">
                              <h5><span  id="numOf-contacts">512</span><br /><small>Contacts</small></h5>
                           </div>
                           <div class="col-md-3">
                              <h5>88%<br /><small>Positive</small></h5>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="card">
                     <div class="header">
                        <h4 class="title">Your Links</h4>
                     </div>
                     <div class="content">
                        <form>
                           <ul class="list-unstyled team-members">
                              <li>
                                 <div class="row">
                                    <div class="col-xs-3">
                                       <div class="avatar">
                                          <img src="https://cdn.worldvectorlogo.com/logos/yelp-icon.svg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                       </div>
                                    </div>
                                    <div class="col-xs-6">
                                       <div class="form-group">
                                          <label>Yelp</label>
                                          <input id="company-yelp-link" type="text" class="form-control border-input" disabled placeholder="Yelp Link">
                                       </div>
                                    </div>
                                    <div class="col-xs-3 text-right">
                                       <btn id="yelp-edit-btn" data-for="yelp" class="btn btn-sm btn-success btn-icon">Edit</btn>
                                    </div>
                                 </div>
                              </li>
                              <li>
                                 <div class="row">
                                    <div class="col-xs-3">
                                       <div class="avatar">
                                          <img src="https://cdn.worldvectorlogo.com/logos/google-plus.svg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                       </div>
                                    </div>
                                    <div class="col-xs-6">
                                       <div class="form-group">
                                          <label>Google</label>
                                          <input id="company-google-link" type="text" class="form-control border-input" disabled placeholder="Google Link">
                                       </div>
                                    </div>
                                    <div class="col-xs-3 text-right">
                                       <btn id="google-edit-btn" data-for="google" class="btn btn-sm btn-success btn-icon">Edit</btn>
                                    </div>
                                 </div>
                              </li>
                              <li>
                                 <div class="row">
                                    <div class="col-xs-3">
                                       <div class="avatar">
                                          <img src="https://cdn.worldvectorlogo.com/logos/better-business-bureau-1.svg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                       </div>
                                    </div>
                                    <div class="col-xs-6">
                                       <div class="form-group">
                                          <label>Better Business Bureau</label>
                                          <input id="company-bbb-link" type="text" class="form-control border-input" disabled placeholder="BBB Link">
                                       </div>
                                    </div>
                                    <div class="col-xs-3 text-right">
                                       <btn id="bbb-edit-btn" data-for="bbb" class="btn btn-sm btn-success btn-icon">Edit</btn>
                                    </div>
                                 </div>
                              </li>
                           </ul>
                        </form>
                     </div>
                  </div>
               </div>
               <div class="col-lg-8 col-md-7">
                  <div class="card">
                     <div class="header">
                        <h4 class="title">Edit Profile</h4>
                     </div>
                     <div class="content">
                        <form id="profile-form">
                           <div class="row">
                              <div class="col-md-7">
                                 <div class="form-group">
                                    <label>Company</label>
                                    <input type="text" class="form-control border-input company-name" placeholder="Company Name">
                                 </div>
                              </div>
                              <div class="col-md-5">
                                 <div class="form-group">
                                    <label>Full Name</label>
                                    <input id="user-fullname" type="text" class="form-control border-input" placeholder="Full Name">
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label>User Name</label>
                                    <input id="user-username" type="text" class="form-control border-input" placeholder="Username">
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="form-group">
                                    <label>Email</label>
                                    <input id="user-email" type="email" class="form-control border-input" placeholder="Email">
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-md-12">
                                 <div class="form-group">
                                    <label>Change Your Password</label>
                                    <div class="input-group">
                                      <input id="user-password" type="password" placeholder="New Password" class="form-control border-input">
                                      <span id="password-reveal-btn" class="input-group-addon btn" style="border: 1px solid #CCC5B9"><i class="ti-eye"></i></span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-md-4">
                                 <div class="form-group">
                                    <label>Company Twitter</label>
                                    <input id="company-twitter" type="text" class="form-control border-input" placeholder="Twitter">
                                 </div>
                              </div>
                              <div class="col-md-4">
                                 <div class="form-group">
                                    <label>Company Instagram</label>
                                    <input id="company-instagram" type="text" class="form-control border-input" placeholder="Instagram">
                                 </div>
                              </div>
                              <div class="col-md-4">
                                 <div class="form-group">
                                    <label>Company Facebook</label>
                                    <input id="company-facebook" type="text" class="form-control border-input" placeholder="Facebook">
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-md-12">
                                 <div class="form-group">
                                    <label>About The Company</label>
                                    <textarea rows="5" class="form-control border-input company-about" placeholder="Here can be your description">This is my company motto.</textarea>
                                 </div>
                              </div>
                           </div>
                           <div class="text-center">
                              <button type="submit" class="btn btn-info btn-fill btn-wd">Update Profile</button>
                           </div>
                           <div class="clearfix"></div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <footer class="footer">
         <div class="container-fluid">
            <nav class="pull-left">
               <ul>
                  <li>
                     <a href="/">
                     Review Fetch
                     </a>
                  </li>
                  <li>
                     <a href="#">
                     Blog
                     </a>
                  </li>
                  <li>
                     <a href="#">
                     Licenses
                     </a>
                  </li>
               </ul>
            </nav>
            <div class="copyright pull-right">
               Copyright &copy; <script>document.write(new Date().getFullYear())</script> Review Fetch</a>
            </div>
         </div>
      </footer>
   </div>
</div>
<!-- Contact page methods -->
<script src="assets/js/settings.js"></script>