<div class="wrapper">
    <div class="sidebar" data-background-color="black" data-active-color="danger">

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="/dashboard" class="simple-text company-logo-text">
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="/dashboard">
                        <i class="ti-panel"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="/fetch">
                        <i class="ti-email"></i>
                        <p>Fetch Reviews</p>
                    </a>
                </li>
                <li>
                    <a href="/templates">
                        <i class="ti-layout"></i>
                        <p>Manage Templates</p>
                    </a>
                </li>
                <li>
                    <a href="/contacts">
                        <i class="ti-view-list-alt"></i>
                        <p>Contact List</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/import">
                        <i class="ti-write"></i>
                        <p>Import Contacts</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <p class="navbar-brand">Import Contacts</p>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/fetch">
                                <i class="ti-star"></i>
								<p>Fetch Reviews</p>
                            </a>
                        </li>
						<li>
                            <a href="/settings">
								<i class="ti-settings"></i>
								<p>Profile</p>
                            </a>
                        </li>
                        <li>
                     <a href="/logout">
                        <i class="ti-power-off"></i>
                        <p>Logout</p>
                     </a>
                  </li>
                    </ul>

                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Import Contacts by CSV</h4>
                            </div>
                            <div class="content">
                                <form id="upload-form" action="/api/uploadcsv" enctype="multipart/form-data" method="post">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Select your file:</label>
                                                <input id="input-file" type="file" name="upload" accept=".csv" multiple>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label style="display: block;">Note: *.csv files are accepted.</label>
                                                <input class="btn btn-info btn-fill btn-wd" type="submit" value="Upload">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>

                        <li>
                            <a href="/">
                                Review Fetch
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Blog
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Licenses
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright pull-right">
                    Copyright &copy; <script>document.write(new Date().getFullYear())</script> Review Fetch</a>
                </div>
            </div>
        </footer>

    </div>
</div>

<script type="text/javascript">
    type = ['','info','success','warning','danger'];
    
    importFunctions = {
        showNotification: function(from, align, message, color, icon){

            $.notify({
                icon: icon,
                message: "<b>" + message + "</b>"
            },{
                type: type[color],
                timer: 1000,
                placement: {
                    from: from,
                    align: align
                }
            });
        }
    };

    // List of available valid file types
    var fileTypes = [
      'csv',
      'application/vnd.ms-excel'
    ];

    // This function determines if the file passed in is a valid file type
    function validFileType(file) {
      for(var i = 0; i < fileTypes.length; i++) {
        // If a valid file type then return true
        if(file.type === fileTypes[i]) {
          return true;
        }
      }
      return false;
    }

    // Handle form submit and do some file validation
    $("#upload-form").on("submit", function(event) {
        var input = document.querySelector('input');
        var currentFiles = input.files;
        var error = false;

        // Check if there is a file selected
        if(currentFiles.length === 0) {
            // Display no file selected error
            importFunctions.showNotification('bottom','center', "No file selected for upload.", 3, "ti-info");
            // Set error to true
            error = true;
        }
        // Check for proper file type 
        else if(!validFileType(currentFiles[0])) {
            // Display invalid file type error
            importFunctions.showNotification('bottom','center', "Not a valid file type.", 4, "ti-na");
            // Set error to true
            error = true;
        }
        // If there is an error then prevent the form from being submitted
        if(error) {
            event.preventDefault();
        }
    });
</script>